VITE_HOSTERA_API_URL=http://localhost:3000
VITE_PROPERTIES_ENDPOINT_PATH=/properties
VITE_INVENTORY_ITEMS_ENDPOINT_PATH=/inventory-items
VITE_STORAGE_LOCATIONS_ENDPOINT_PATH=/storage-locations
VITE_ROOM_TYPES_ENDPOINT_PATH=/room-types
VITE_ROOMS_ENDPOINT_PATH=/rooms
VITE_STATUS_PERIODS_ENDPOINT_PATH=/status-periods
VITE_BOOKINGS_ENDPOINT_PATH=/bookings
VITE_PAYMENTS_ENDPOINT_PATH=/payments
VITE_CREDENTIALS_ENDPOINT_PATH=/credentials
VITE_STAFF_MEMBERS_ENDPOINT_PATH=/staff-members
VITE_ACCESS_EVENTS_ENDPOINT_PATH=/access-events
VITE_RATE_PLANS_ENDPOINT_PATH=/rate-plans
VITE_DAILY_RATES_ENDPOINT_PATH=/daily-rates
VITE_PRIMEVUE_LICENSE_KEY="your-primevue-license-key"
